
nav{
    position: absolute;
    width: 477px;
    height: 26px;
    left: 1203px;
    top: 63px; 
    padding: 20px;
    
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    
}
header{
    display: flex;
    position: absolute;
    
}
.title{
    position: absolute;
    width: 302px;
    height: 53px;
    left: 228px;
    top: 50px;
    text-align: center;
}
/* main section---------title */

    

.main-section{
    position: absolute;
    width: 862px;
    height: 225px;
    left: 529px;
    top: 205px;
    text-align: center;

}
.main-section-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
}
.main-section-body{
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}
/* button--------- */
.main-section-button{
    /* position: absolute; */
    background-color:#ff900e;
    border-radius: 8px;
}
.button-tx{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 7px;


}
/* banner image---------- */
.banner{
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 240px;
    top: 677px;
    border-radius: 8px;
}
/* bodysection-------------- */
.body-section{
    position: absolute;
    
    height: 708px;
    width: 708px;
    left: 301px;
    top: 1407px;
    padding-top:85px ;
}
.img-body{
    padding: 5px;
}
.body-header{
    position: absolute;
    width: 537px;
    height: 304px;
    left: 1082px;
    top: 1609px;
}
/* boy-button----------- */
.boy-section-button{
    background-color:#ff900e;
    border-radius: 8px;
}
.body-pra{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* description section============================== */
.description-section{
    /* background-color: lightblue; */
    position:absolute;
    display: flex;
    justify-content: end;
    width: 1440px;
    height: 1059px;
    left: 240px;
    top: 2354px;
}
.line{
    position:absolute;
    width: 5px;
    height: 106px;
    background: #ff900e;
    left: 40px;
    top: 37px;
}
.dis-header{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    position: absolute;
    width: 468px;
    height: 106px;
    left: 66px;

}
.dis-pra{
    position: absolute;
    width: 586px;
    height: 78px;
    left: 40px;
    top: 160px;
}
/* 
last pra--------------------- */
.title-dis{
    
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.pra-dis{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.dextop{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 80px;
    top: 290px;
}
.drag{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 80px;
    top: 430px;
}
.awesome{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 80px;
    top: 580px;
}
.supre{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 80px;
    top: 730px;
}
/* 10 year ------------------ */
.year{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 888px;
    top:3204px;
    background: #ff900e;

}
.year-title{
   font-size: 65px;
   font-weight: 700;
   text-align: center;
   

   
}
.year-dis{
   
    font-size: 25px;
    font-weight: 500px;
    line-height: 40px;
    text-align: center;
}

/* some------------------------- */
.some{
    position: absolute;
    width: 542px;
    height: 52px;
    left: 248px;
    top: 3511px;
}
.some-title{
    font-size:48px ;
    font-weight: 700;
    line-height: 53px;
}
.some-pra{
    font-size:16px ;
    font-weight: 400;
    line-height: 26px;
}

/* logo section */
.logo-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    top: 3764px;
    
    left: 290px;
    gap: 200px;

}
.logo-image{
    position: absolute;
    text-align: center;
    
}
.number{
    font-size: 45px;
    text-align: center;

}
.number-pra{
    font-size: 25px;
    text-align: center;
}


/* our section ------------*/
.our{
    position: absolute;
    width: 542px;
    height: 129px;
    left: 689px;
    top: 4085px;
}
.our-title{
    font-size:48px ;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
}
.our-pra{
    font-size: 18px;
    text-align: center;
}
/* google sectionnn------------ */
.google-section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    top: 4364px;
    
    left: 290px;
    gap: 400px;

}
/* future sectionnn------------ */
.future{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 240px;
    top: 4544px;
    background: #fff4e7;
}
.future-pra{
    text-align: center;

}